<!-- template -->
<template>
  <div id="app" class="min-vh-100 container-fluid bg-dark">
    <query-form></query-form>
    <result-navigator></result-navigator>
    <result-set></result-set>
  </div>
</template>

<!-- logic -->
<script>
import QueryForm from './components/QueryForm.vue'
import ResultSet from './components/ResultSet.vue'
import ResultNavigator from './components/ResultNavigator.vue'

export default {
  name: 'app',
  components: {
    QueryForm,
    ResultNavigator,
    ResultSet
  }
}
</script>

<!-- style -->
<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
