<!-- template -->

<template>
    <header class="row">
        <div class="col-md-1"></div>
        <section class="col-md-10">
            <div class="container-fluid rounded bg-dark px-4 pb-2">
                <div class="pt-4">
                    <h1 id="title" class="text-light">{{ title }}</h1>
                </div>

                <form @submit.prevent="submitSearch">
                    <input
                        type="search"
                        class="mb-2 form-control"
                        v-model="keywords" required
                        ref="searchText"
                        v-on:keyup="updateSuggestions"
                        v-on:keydown="updateSuggestions"
                        list="suggestion-list"
                        name="inputSuggestionList"
                    >
                    <datalist id="suggestion-list">
                        <option v-for="s in suggestions" v-bind:key="s" v-bind:value="s" />
                    </datalist>

                    <select class="mb-2 custom-select" v-model="field" @change="onSelect">
                        <option>section</option>
                        <option>name</option>
                        <option>synopsis</option>
                        <option>description</option>
                        <option>implementation</option>
                        <option>history</option>
                        <option>authors</option>
                        <option>examples</option>
                        <option>code</option>
                        <option>functions</option>
                        <option>errors</option>
                        <option>version</option>
                    </select>
                    <button class="w-100 btn btn-info" type="submit">Search</button>
                </form>
            </div>
        </section>
    </header>
</template>

<!-- logic -->

<script>
export default {
    name: "query-container",
    data () {
        return {
            title: "Linux Man Page Search",
            field: "description",
            keywords: "",
        }
    },
    computed: {
        numMatches() {
            return this.$store.state.numMatches
        },

        suggestions() {
            return this.$store.state.suggestions
        }
    },
    methods: {
        submitSearch () {
            let url = 'http://localhost:3000/SearchAPI/rest/api/search'
                + '?field=' + this.field + '&keywords="' + this.keywords + '"'
            this.$store.dispatch('getSearchResults', url)
        },
        onSelect () {
            this.$store.dispatch('setSelectedField', this.field)
        },
        updateSuggestions () {
            let url = 'http://localhost:3000/SearchAPI/rest/api/suggest'
                + '?keywords=' + this.keywords;
            this.$store.dispatch('updateSuggestions', url)
        }
    }
}
</script>

<!-- style -->

<style scoped>
#title {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
</style>
