<!-- template -->
<template>
    <div class="row mt-2 mb-4 d-flex justify-content-center">
        <div class="card col-md-6 bg-secondary">
            <p class="my-2 text-light">Number of matches: {{ numMatches }}</p>
        </div>
    </div>
</template>

<!-- logic -->
<script>
export default {
    name: "result-navigator",
    computed: {
        numMatches() {
            return this.$store.state.numMatches
        }
    }
}
</script>

<!-- style -->
<style scoped>
</style>