<!-- template -->

<template>
    <main class="row mb-1">
        <div class="col-md-1"></div>
        <section class="col-md-10">
            <result v-for="result in results" v-bind:key="result"
                :document=result
            ></result>
        </section>
    </main>
</template>

<!-- logic -->

<script>
import Result from './Result.vue';

export default {
    name: "result-set",
    components: {
        Result
    },
    computed: {
        results() {
            return this.$store.state.results
        }
    }
}
</script>

<!-- style -->

<style scoped>
</style>