<!-- template -->
<template>
    <div class="card bg-secondary mb-2 container">
        <!-- header -->
        <section class="row card-header">
            <div class="col-12 bg-info rounded">
                <a class="btn text-light" v-bind:href="'https://manpages.ubuntu.com/manpages/eoan/en/' + document.section + '/' + document.page">
                    <h4 class="align-middle text-wrap d-inline mb-0">{{ document.name }}</h4>
                </a>
            </div>
        </section>

        <!-- body -->
        <ul class="nav nav-tabs">
            <li class="nav-item" v-for="(fieldValue, field) in document" v-bind:key="field">
                <a 
                    v-show="fieldValue != null"
                    class="nav-link btn btn-outline-dark my-2 mr-2"
                    v-bind:class="{ active: isActive(field) }"
                    href="###"
                    v-on:click="select(field)">
                    {{ field }}
                </a>
            </li>
        </ul>
        <section class="card mb-3 bg-light text-dark text-left">
            <p class="py-2 pl-2 pr-2">{{ resultBody }}</p>
        </section>
    </div>
</template>

<!-- logic -->
<script>
export default {
    props: [
        "document"
    ],
    computed: {
        resultBody () {
            return this.$props.document[this.selected]
        }
    },
    data () {
        return {
            selected: this.$store.state.field
        }
    },
    methods: {
        select: function(field) {
            this.selected = field
        },
        isActive: function(field) {
            return this.selected === field;
        }
    }
}
</script>

<!-- style -->
<style scoped>
</style>